In [1]:
from pyspark.sql import SparkSession

In [2]:
from pyspark.sql.functions import col

In [3]:
spark = SparkSession.builder.appName('alura_spark').getOrCreate()

In [4]:
# É possível passar caracteres curingas

empresas_path = '/home/jovyan/datasets/empresas/'  # ou '/home/jovyan/datasets/empresas/ppart-0000?-5478.csv'
empresas_df = spark.read.csv(path=empresas_path, sep=';', inferSchema=True)

estabelecimentos_path = '/home/jovyan/datasets/estabelecimentos/'
estabelecimentos_df = spark.read.csv(path=estabelecimentos_path, sep=';', inferSchema=True)

socios_path = '/home/jovyan/datasets/socios/'  # ou '/home/jovyan/datasets/empresas/ppart-0000?-5478.csv'
socios_df = spark.read.csv(path=socios_path, sep=';', inferSchema=True)

In [5]:
empresasColNames = ['cnpj_basico', 'razao_social_nome_empresarial', 'natureza_juridica', 'qualificacao_do_responsavel',
                    'capital_social_da_empresa', 'porte_da_empresa', 'ente_federativo_responsavel']

estabsColNames = ['cnpj_basico', 'cnpj_ordem', 'cnpj_dv', 'identificador_matriz_filial', 'nome_fantasia',
                  'situacao_cadastral', 'data_situacao_cadastral', 'motivo_situacao_cadastral',
                  'nome_da_cidade_no_exterior', 'pais', 'data_de_inicio_atividade', 'cnae_fiscal_principal',
                  'cnae_fiscal_secundaria', 'tipo_de_logradouro', 'logradouro', 'numero', 'complemento', 'bairro',
                  'cep', 'uf', 'municipio', 'ddd_1', 'telefone_1', 'ddd_2', 'telefone_2', 'ddd_do_fax', 'fax',
                  'correio_eletronico', 'situacao_especial', 'data_da_situacao_especial']

sociosColNames = ['cnpj_basico', 'identificador_de_socio', 'nome_do_socio_ou_razao_social', 'cnpj_ou_cpf_do_socio',
                  'qualificacao_do_socio', 'data_de_entrada_sociedade', 'pais', 'representante_legal',
                  'nome_do_representante', 'qualificacao_do_representante_legal', 'faixa_etaria']

In [6]:
empresas_df.show(5)

+----+--------------------+----+---+-------+---+----+
| _c0|                 _c1| _c2|_c3|    _c4|_c5| _c6|
+----+--------------------+----+---+-------+---+----+
| 306|FRANCAMAR REFRIGE...|2240| 49|   0,00|  1|NULL|
|1355|BRASILEIRO & OLIV...|2062| 49|   0,00|  5|NULL|
|4820|REGISTRO DE IMOVE...|3034| 32|   0,00|  5|NULL|
|5347|ROSELY APARECIDA ...|2135| 50|   0,00|  5|NULL|
|6846|BADU E FILHOS TEC...|2062| 49|4000,00|  1|NULL|
+----+--------------------+----+---+-------+---+----+

In [7]:
estabelecimentos_df.show(5)

+----+---+---+---+--------------------+---+--------+---+----+----+--------+-------+--------------------+-------+--------------------+----+------+-------------------+--------+----+----+----+--------+----+----+----+----+--------------------+----+----+
| _c0|_c1|_c2|_c3|                 _c4|_c5|     _c6|_c7| _c8| _c9|    _c10|   _c11|                _c12|   _c13|                _c14|_c15|  _c16|               _c17|    _c18|_c19|_c20|_c21|    _c22|_c23|_c24|_c25|_c26|                _c27|_c28|_c29|
+----+---+---+---+--------------------+---+--------+---+----+----+--------+-------+--------------------+-------+--------------------+----+------+-------------------+--------+----+----+----+--------+----+----+----+----+--------------------+----+----+
| 537|  1| 51|  1|  PAPAI NOEL IMOVEIS|  2|20041224|  0|NULL|NULL|19941107|6821802|6821801,6822600,8...|AVENIDA|DOUTOR CARDOSO DE...| 247|  NULL|       VILA OLIMPIA| 4548001|  SP|7107|  11|38499387|NULL|NULL|NULL|NULL|ADM@VERTIZAIMOVEI...|NULL|NULL|
| 537|  2| 32|  2|                NULL|  8|20000929|  1|NULL|NULL|19990629|6821802|     6822600,8111700|AVENIDA| DR. CARDOSO DE MELO|  46|  NULL|       VILA OLIMPIA| 4548000|  SP|7107|NULL|    NULL|NULL|NULL|NULL|NULL|                NULL|NULL|NULL|
|6454|  1| 70|  1|AGNES COMERCIO DE...|  4|20181004| 63|NULL|NULL|19940518|4774100|                NULL|    RUA|CEL.RUBENS REIS R...|  47|SALA 3|        JD ARPOADOR| 5565180|  SP|7107|NULL|    NULL|NULL|NULL|NULL|NULL|                NULL|NULL|NULL|
|7632|  1| 87|  1|                NULL|  2|20051103|  0|NULL|NULL|19940520|4785799|                NULL|AVENIDA|             MORUMBI| 342|  NULL|       VILA MORUMBI|13572000|  SP|7079|NULL|    NULL|NULL|NULL|NULL|NULL|                NULL|NULL|NULL|
|7638|  1| 54|  1|                NULL|  2|20051103|  0|NULL|NULL|19940520|1610203|                NULL|    RUA|                TRES| S/N|  NULL|DISTRITO INDUSTRIAL|17120001|  SP|6113|NULL|    NULL|NULL|NULL|NULL|NULL|                NULL|NULL|NULL|
+----+---+---+---+--------------------+---+--------+---+----+----+--------+-------+--------------------+-------+--------------------+----+------+-------------------+--------+----+----+----+--------+----+----+----+----+--------------------+----+----+

In [8]:
socios_df.show()

+-----+---+--------------------+--------------+---+--------+----+-----------+--------------------+---+----+
|  _c0|_c1|                 _c2|           _c3|_c4|     _c5| _c6|        _c7|                 _c8|_c9|_c10|
+-----+---+--------------------+--------------+---+--------+----+-----------+--------------------+---+----+
|  403|  2|ARCHIBALDE POUZA ...|   ***550688**| 49|19941019|NULL|***000000**|                NULL|  0|   8|
|  403|  2|MARIA LUCIA DE AR...|   ***358948**| 22|19941019|NULL|***550688**|ARCHIBALDE POUZA ...|  5|   7|
|52803|  2|   PAULA PAVAN MAMED|   ***454918**| 22|19980831|NULL|***000000**|                NULL|  0|   6|
|52803|  2| NASSIM MAMED JUNIOR|   ***040608**| 49|19980831|NULL|***000000**|                NULL|  0|   6|
|52803|  2|CARLA PAVAN MAMED...|   ***454898**| 22|20130812|NULL|***000000**|                NULL|  0|   6|
|52803|  1|ACTUALPAR ADMINIS...|27556902000165| 22|20170809|NULL|***040608**| NASSIM MAMED JUNIOR|  5|   0|
|57154|  2|ELIANE IZABEL MAR...|   ***741156**| 49|19940429|NULL|***000000**|                NULL|  0|   7|
|57154|  2|JOSE GERALDO DOS ...|   ***400306**| 22|19950921|NULL|***000000**|                NULL|  0|   7|
|57764|  2|           JOAO VICK|   ***383999**| 49|19940428|NULL|***000000**|                NULL|  0|   8|
|57764|  2| MARIA MADALENA VICK|   ***939619**| 22|19940428|NULL|***000000**|                NULL|  0|   7|
|64377|  2| HELIO NIESPODZINSKI|   ***761219**| 49|19940425|NULL|***000000**|                NULL|  0|   6|
|64377|  2|JOSE MARIO NIESPO...|   ***258779**| 22|19940425|NULL|***000000**|                NULL|  0|   6|
|67869|  2|ENEIAS PAIVA DE O...|   ***183631**| 49|20030213|NULL|***000000**|                NULL|  0|   6|
|67869|  2|RAFAEL RIBEIRO DO...|   ***337979**| 49|20080208|NULL|***000000**|                NULL|  0|   6|
|77294|  2|SIRLEI RUIVO DA S...|   ***725988**| 16|20050912|NULL|***000000**|                NULL|  0|   6|
|79869|  2|  NELSON SCHONBERGER|   ***845520**| 49|19940531|NULL|***000000**|                NULL|  0|   7|
|79869|  2|BETANIA SCHONBERG...|   ***283700**| 49|19940531|NULL|***000000**|                NULL|  0|   5|
|79869|  2|VERA LUCIA SCHONB...|   ***438020**| 49|19980316|NULL|***000000**|                NULL|  0|   7|
|92058|  2|VITORIA COLORINDA...|   ***922280**| 49|19981019|NULL|***000000**|                NULL|  0|   6|
|92058|  2|   DELVINO SGANZERLA|   ***073750**| 22|19981019|NULL|***000000**|                NULL|  0|   7|
+-----+---+--------------------+--------------+---+--------+----+-----------+--------------------+---+----+

In [9]:
empresas_df.limit(5).show()

+----+--------------------+----+---+-------+---+----+
| _c0|                 _c1| _c2|_c3|    _c4|_c5| _c6|
+----+--------------------+----+---+-------+---+----+
| 306|FRANCAMAR REFRIGE...|2240| 49|   0,00|  1|NULL|
|1355|BRASILEIRO & OLIV...|2062| 49|   0,00|  5|NULL|
|4820|REGISTRO DE IMOVE...|3034| 32|   0,00|  5|NULL|
|5347|ROSELY APARECIDA ...|2135| 50|   0,00|  5|NULL|
|6846|BADU E FILHOS TEC...|2062| 49|4000,00|  1|NULL|
+----+--------------------+----+---+-------+---+----+

In [10]:
for index, column_name in enumerate(empresasColNames):
    empresas_df = empresas_df.withColumnRenamed(existing=f'_c{index}', new=column_name)

empresas_df.columns

['cnpj_basico',
 'razao_social_nome_empresarial',
 'natureza_juridica',
 'qualificacao_do_responsavel',
 'capital_social_da_empresa',
 'porte_da_empresa',
 'ente_federativo_responsavel']

In [11]:
empresas_df.show(5)

+-----------+-----------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
|cnpj_basico|razao_social_nome_empresarial|natureza_juridica|qualificacao_do_responsavel|capital_social_da_empresa|porte_da_empresa|ente_federativo_responsavel|
+-----------+-----------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
|        306|         FRANCAMAR REFRIGE...|             2240|                         49|                     0,00|               1|                       NULL|
|       1355|         BRASILEIRO & OLIV...|             2062|                         49|                     0,00|               5|                       NULL|
|       4820|         REGISTRO DE IMOVE...|             3034|                         32|                     0,00|               5|                       NULL|
|       5347|         ROSELY APARECIDA ...|             2135|                         50|                     0,00|               5|                       NULL|
|       6846|         BADU E FILHOS TEC...|             2062|                         49|                  4000,00|               1|                       NULL|
+-----------+-----------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+

In [12]:
for index, column_name in enumerate(sociosColNames):
    socios_df = socios_df.withColumnRenamed(existing=f'_c{index}', new=column_name)

socios_df.columns

['cnpj_basico',
 'identificador_de_socio',
 'nome_do_socio_ou_razao_social',
 'cnpj_ou_cpf_do_socio',
 'qualificacao_do_socio',
 'data_de_entrada_sociedade',
 'pais',
 'representante_legal',
 'nome_do_representante',
 'qualificacao_do_representante_legal',
 'faixa_etaria']

In [13]:
for index, column_name in enumerate(estabsColNames):
    estabelecimentos_df = estabelecimentos_df.withColumnRenamed(existing=f'_c{index}', new=column_name)

estabelecimentos_df.columns

['cnpj_basico',
 'cnpj_ordem',
 'cnpj_dv',
 'identificador_matriz_filial',
 'nome_fantasia',
 'situacao_cadastral',
 'data_situacao_cadastral',
 'motivo_situacao_cadastral',
 'nome_da_cidade_no_exterior',
 'pais',
 'data_de_inicio_atividade',
 'cnae_fiscal_principal',
 'cnae_fiscal_secundaria',
 'tipo_de_logradouro',
 'logradouro',
 'numero',
 'complemento',
 'bairro',
 'cep',
 'uf',
 'municipio',
 'ddd_1',
 'telefone_1',
 'ddd_2',
 'telefone_2',
 'ddd_do_fax',
 'fax',
 'correio_eletronico',
 'situacao_especial',
 'data_da_situacao_especial']

In [14]:
empresas_df.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- razao_social_nome_empresarial: string (nullable = true)
 |-- natureza_juridica: integer (nullable = true)
 |-- qualificacao_do_responsavel: integer (nullable = true)
 |-- capital_social_da_empresa: string (nullable = true)
 |-- porte_da_empresa: integer (nullable = true)
 |-- ente_federativo_responsavel: string (nullable = true)

In [15]:
from pyspark.sql.types import DoubleType, StringType
from pyspark.sql import functions as f

In [16]:
empresas_df.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- razao_social_nome_empresarial: string (nullable = true)
 |-- natureza_juridica: integer (nullable = true)
 |-- qualificacao_do_responsavel: integer (nullable = true)
 |-- capital_social_da_empresa: string (nullable = true)
 |-- porte_da_empresa: integer (nullable = true)
 |-- ente_federativo_responsavel: string (nullable = true)

In [17]:
empresas_df = empresas_df.withColumn('capital_social_da_empresa',
                                     f.regexp_replace(string='capital_social_da_empresa', pattern=',', replacement='.'))

In [18]:
empresas_df.show(5)

+-----------+-----------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
|cnpj_basico|razao_social_nome_empresarial|natureza_juridica|qualificacao_do_responsavel|capital_social_da_empresa|porte_da_empresa|ente_federativo_responsavel|
+-----------+-----------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
|        306|         FRANCAMAR REFRIGE...|             2240|                         49|                     0.00|               1|                       NULL|
|       1355|         BRASILEIRO & OLIV...|             2062|                         49|                     0.00|               5|                       NULL|
|       4820|         REGISTRO DE IMOVE...|             3034|                         32|                     0.00|               5|                       NULL|
|       5347|         ROSELY APARECIDA ...|             2135|                         50|                     0.00|               5|                       NULL|
|       6846|         BADU E FILHOS TEC...|             2062|                         49|                  4000.00|               1|                       NULL|
+-----------+-----------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+

In [19]:
empresas_df = empresas_df.withColumn(colName='capital_social_da_empresa',
                                     col=empresas_df['capital_social_da_empresa'].cast(DoubleType()))

In [20]:
empresas_df.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- razao_social_nome_empresarial: string (nullable = true)
 |-- natureza_juridica: integer (nullable = true)
 |-- qualificacao_do_responsavel: integer (nullable = true)
 |-- capital_social_da_empresa: double (nullable = true)
 |-- porte_da_empresa: integer (nullable = true)
 |-- ente_federativo_responsavel: string (nullable = true)

In [21]:
estabelecimentos_df.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- cnpj_ordem: integer (nullable = true)
 |-- cnpj_dv: integer (nullable = true)
 |-- identificador_matriz_filial: integer (nullable = true)
 |-- nome_fantasia: string (nullable = true)
 |-- situacao_cadastral: integer (nullable = true)
 |-- data_situacao_cadastral: integer (nullable = true)
 |-- motivo_situacao_cadastral: integer (nullable = true)
 |-- nome_da_cidade_no_exterior: string (nullable = true)
 |-- pais: integer (nullable = true)
 |-- data_de_inicio_atividade: integer (nullable = true)
 |-- cnae_fiscal_principal: integer (nullable = true)
 |-- cnae_fiscal_secundaria: string (nullable = true)
 |-- tipo_de_logradouro: string (nullable = true)
 |-- logradouro: string (nullable = true)
 |-- numero: string (nullable = true)
 |-- complemento: string (nullable = true)
 |-- bairro: string (nullable = true)
 |-- cep: integer (nullable = true)
 |-- uf: string (nullable = true)
 |-- municipio: integer (nullable = true)
 |-- ddd_1: string (nullable = true)
 |-- telefone_1: string (nullable = true)
 |-- ddd_2: string (nullable = true)
 |-- telefone_2: string (nullable = true)
 |-- ddd_do_fax: integer (nullable = true)
 |-- fax: string (nullable = true)
 |-- correio_eletronico: string (nullable = true)
 |-- situacao_especial: string (nullable = true)
 |-- data_da_situacao_especial: integer (nullable = true)

In [22]:
estabelecimentos_df = (((estabelecimentos_df
                         .withColumn(colName='data_situacao_cadastral',
                                     col=f.to_date(estabelecimentos_df.data_situacao_cadastral.cast(StringType()),
                                                   'yyyyMMdd')))
                        .withColumn(colName='data_da_situacao_especial',
                                    col=f.to_date(estabelecimentos_df.data_da_situacao_especial.cast(StringType()),
                                                  'yyyyMMdd')))
                       .withColumn(colName='data_de_inicio_atividade',
                                   col=f.to_date(estabelecimentos_df.data_de_inicio_atividade.cast(StringType()),
                                                 'yyyyMMdd')))
estabelecimentos_df.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- cnpj_ordem: integer (nullable = true)
 |-- cnpj_dv: integer (nullable = true)
 |-- identificador_matriz_filial: integer (nullable = true)
 |-- nome_fantasia: string (nullable = true)
 |-- situacao_cadastral: integer (nullable = true)
 |-- data_situacao_cadastral: date (nullable = true)
 |-- motivo_situacao_cadastral: integer (nullable = true)
 |-- nome_da_cidade_no_exterior: string (nullable = true)
 |-- pais: integer (nullable = true)
 |-- data_de_inicio_atividade: date (nullable = true)
 |-- cnae_fiscal_principal: integer (nullable = true)
 |-- cnae_fiscal_secundaria: string (nullable = true)
 |-- tipo_de_logradouro: string (nullable = true)
 |-- logradouro: string (nullable = true)
 |-- numero: string (nullable = true)
 |-- complemento: string (nullable = true)
 |-- bairro: string (nullable = true)
 |-- cep: integer (nullable = true)
 |-- uf: string (nullable = true)
 |-- municipio: integer (nullable = true)
 |-- ddd_1: string (nullable = true)
 |-- telefone_1: string (nullable = true)
 |-- ddd_2: string (nullable = true)
 |-- telefone_2: string (nullable = true)
 |-- ddd_do_fax: integer (nullable = true)
 |-- fax: string (nullable = true)
 |-- correio_eletronico: string (nullable = true)
 |-- situacao_especial: string (nullable = true)
 |-- data_da_situacao_especial: date (nullable = true)

In [23]:
estabelecimentos_df.show(50)

+-----------+----------+-------+---------------------------+--------------------+------------------+-----------------------+-------------------------+--------------------------+----+------------------------+---------------------+----------------------+------------------+--------------------+------+--------------------+--------------------+--------+---+---------+-----+----------+-----+----------+----------+--------+--------------------+-----------------+-------------------------+
|cnpj_basico|cnpj_ordem|cnpj_dv|identificador_matriz_filial|       nome_fantasia|situacao_cadastral|data_situacao_cadastral|motivo_situacao_cadastral|nome_da_cidade_no_exterior|pais|data_de_inicio_atividade|cnae_fiscal_principal|cnae_fiscal_secundaria|tipo_de_logradouro|          logradouro|numero|         complemento|              bairro|     cep| uf|municipio|ddd_1|telefone_1|ddd_2|telefone_2|ddd_do_fax|     fax|  correio_eletronico|situacao_especial|data_da_situacao_especial|
+-----------+----------+-------+---------------------------+--------------------+------------------+-----------------------+-------------------------+--------------------------+----+------------------------+---------------------+----------------------+------------------+--------------------+------+--------------------+--------------------+--------+---+---------+-----+----------+-----+----------+----------+--------+--------------------+-----------------+-------------------------+
|        537|         1|     51|                          1|  PAPAI NOEL IMOVEIS|                 2|             2004-12-24|                        0|                      NULL|NULL|              1994-11-07|              6821802|  6821801,6822600,8...|           AVENIDA|DOUTOR CARDOSO DE...|   247|                NULL|        VILA OLIMPIA| 4548001| SP|     7107|   11|  38499387| NULL|      NULL|      NULL|    NULL|ADM@VERTIZAIMOVEI...|             NULL|                     NULL|
|        537|         2|     32|                          2|                NULL|                 8|             2000-09-29|                        1|                      NULL|NULL|              1999-06-29|              6821802|       6822600,8111700|           AVENIDA| DR. CARDOSO DE MELO|    46|                NULL|        VILA OLIMPIA| 4548000| SP|     7107| NULL|      NULL| NULL|      NULL|      NULL|    NULL|                NULL|             NULL|                     NULL|
|       6454|         1|     70|                          1|AGNES COMERCIO DE...|                 4|             2018-10-04|                       63|                      NULL|NULL|              1994-05-18|              4774100|                  NULL|               RUA|CEL.RUBENS REIS R...|    47|              SALA 3|         JD ARPOADOR| 5565180| SP|     7107| NULL|      NULL| NULL|      NULL|      NULL|    NULL|                NULL|             NULL|                     NULL|
|       7632|         1|     87|                          1|                NULL|                 2|             2005-11-03|                        0|                      NULL|NULL|              1994-05-20|              4785799|                  NULL|           AVENIDA|             MORUMBI|   342|                NULL|        VILA MORUMBI|13572000| SP|     7079| NULL|      NULL| NULL|      NULL|      NULL|    NULL|                NULL|             NULL|                     NULL|
|       7638|         1|     54|                          1|                NULL|                 2|             2005-11-03|                        0|                      NULL|NULL|              1994-05-20|              1610203|                  NULL|               RUA|                TRES|   S/N|                NULL| DISTRITO INDUSTRIAL|17120001| SP|     6113| NULL|      NULL| NULL|      NULL|      NULL|    NULL|                NULL|             NULL|                     NULL|
|       7685|         1|      6|                          1|       SHOPPING VALL|                 8|             2008-12-31|                       71|                      NULL|NULL|              1994-05-20|              4744001|                  NULL|               RUA| MANOEL PEREIRA LOBO|   514|                NULL|       QUARTA PARADA| 3179010| SP|     7107| NULL|      NULL| NULL|      NULL|      NULL|    NULL|                NULL|             NULL|                     NULL|
|       8641|         1|     92|                          1|                NULL|                 8|             1995-10-31|                        1|                      NULL|NULL|              1994-05-24|              4755501|                  NULL|               RUA|     DOMINGOS ROBERT|   572|              FUNDOS|              CENTRO|14940000| SP|     6493| NULL|      NULL| NULL|      NULL|      NULL|    NULL|                NULL|             NULL|                     NULL|
|      12441|         1|      3|                          1|                NULL|                 8|             2008-12-31|                       71|                      NULL|NULL|              1994-05-31|              4774100|                  NULL|               RUA|       ABEL FERREIRA|    07|                NULL|          VL FORMOZA| 3340000| SP|     7107| NULL|      NULL| NULL|      NULL|      NULL|    NULL|                NULL|             NULL|                     NULL|
|      16025|         1|     83|                          1|                NULL|                 8|             2008-12-31|                       71|                      NULL|NULL|              1994-10-19|              4721102|                  NULL|               RUA|               PIAUI|  1032|                NULL|        VL CRISTOVAO|13480021| SP|     6639| NULL|      NULL| NULL|      NULL|      NULL|    NULL|                NULL|             NULL|                     NULL|
|      21767|         1|      5|                          1|                NULL|                 8|             2016-09-30|                        1|                      NULL|NULL|              1994-06-22|              8299799|  6399200,7410299,7...|           AVENIDA|       ANTONIO MASSA|   355|     1 ANDAR SALA 05|              CENTRO| 8550350| SP|     6897| NULL|      NULL| NULL|      NULL|      NULL|    NULL|                NULL|             NULL|                     NULL|
|      23298|         1|     55|                          1|DEPOSITO ALTERNATIVA|                 8|             2008-04-25|                       54|                      NULL|NULL|              1994-06-30|              4744001|                  NULL|           ESTRADA|         SONIA MARIA|    77|                NULL|         JD ORATORIO| 9380440| SP|     6689| NULL|      NULL| NULL|      NULL|      NULL|    NULL|                NULL|             NULL|                     NULL|
|      27110|         1|     47|                          1|     MERCEARIA SOUZA|                 4|             2018-09-04|                       63|                      NULL|NULL|              1982-01-22|              4712100|                  NULL|               RUA|   MARQUES DE OLINDA|   S/N|          QD 8 LT 17|         PARQUE REAL|74943530| GO|     9227| NULL|      NULL| NULL|      NULL|      NULL|    NULL|                NULL|             NULL|                     NULL|
|      29590|         1|     85|                          1|TRANSPORTADORA J....|                 8|             2016-08-23|                        1|                      NULL|NULL|              1994-08-10|              4930201|                  NULL|               RUA|       QUINCAS BORBA|    09|                NULL|    JDIM SAO SAVERIO| 4194280| SP|     7107| NULL|      NULL| NULL|      NULL|      NULL|    NULL|                NULL|             NULL|                     NULL|
|      55841|         1|      4|                          1| LAMINADOS ANTONINHO|                 8|             1995-06-30|                        9|                      NULL|NULL|              1994-04-28|              1610203|                  NULL|           AVENIDA|               MAIKA|   S/N|              KM 2,5|     AREA INDUSTRIAL|78535000| MT|     9899| NULL|      NULL| NULL|      NULL|      NULL|    NULL|                NULL|             NULL|                     NULL|
|      59088|         1|     17|                          1|  PANIFICADORA UNIAO|                 8|             2008-12-31|                       71|                      NULL|NULL|              1994-05-04|              1091101|                  NULL|               RUA|                  18|   S/N|         QD 16 LT 34|        MORADA NOBRE|72855868| GO|     9445| NULL|      NULL| NULL|      NULL|      NULL|    NULL|                NULL|             NULL|                     NULL|
|      61201|         1|      7|                          1|                NULL|                 8|             2008-12-31|                       71|                      NULL|NULL|              1994-05-06|              4689301|                  NULL|               RUA|       PADRE MARTINS|    64|                NULL|         PADRE FARIA|35400000| MG|     4921| NULL|      NULL| NULL|      NULL|      NULL|    NULL|                NULL|             NULL|                     NULL|
|      63003|         1|     74|                          1| TROPICAL BICICLETAS|                 4|             2018-09-11|                       63|                      NULL|NULL|              1994-05-09|              4774100|                  NULL|              NULL|PRAC CARLOS MACIEIRA|   S/N|                NULL|              CENTRO|65105000| MA|      901| NULL|      NULL| NULL|      NULL|      NULL|    NULL|                NULL|             NULL|                     NULL|
|      63134|         2|     32|                          2| TSUHA DIVISAO CORTE|                 2|             2008-07-29|                        0|                      NULL|NULL|              2008-07-29|              2539001|               4530704|           AVENIDA|MASCARENHAS DE MO...|  3333|                NULL|    CORONEL ANTONINO|79010500| MS|     9051|   67|  33615951| NULL|      NULL|        67|33615951|edson.oshiro@grup...|             NULL|                     NULL|
|      63134|         1|     51|                          1|                NULL|                 2|             2001-03-08|                        0|                      NULL|NULL|              1994-05-10|              2539001|  2822401,2840200,3...|               RUA|DONA TERESA CRISTINA|   216|                NULL|    CORONEL ANTONINO|79013580| MS|     9051|   67|  33615951| NULL|      NULL|        67|33615951|EDSON.OSHIRO@GRUP...|             NULL|                     NULL|
|      63328|         1|     57|                          1|        KILO E GRAMA|                 8|             2012-05-16|                        1|                      NULL|NULL|              1994-05-09|              9001999|                  NULL|           AVENIDA|LUIZ TARQUINIO PI...|    14|                NULL|              CENTRO|42700130| BA|     3685|   71|   3460323| NULL|      NULL|        71| 3474800|                NULL|             NULL|                     NULL|
|      63642|         1|     30|                          1|                NULL|                 8|             2015-02-09|                       73|                      NULL|NULL|              1994-05-10|              1412601|               1412603|               RUA|ARLINDO SAMPAIO J...|   648|                NULL|          NOVA BAHIA|79034510| MS|     9051| NULL|      NULL| NULL|      NULL|      NULL|    NULL|                NULL|             NULL|                     NULL|
|      65207|         1|     44|                          1|                NULL|                 8|             2008-12-31|                       71|                      NULL|NULL|              1994-05-09|              7311400|                  NULL|               RUA| ARAUJO PORTO ALEGRE|    71|       3 ANDAR PARTE|              CENTRO|20030012| RJ|     6001| NULL|      NULL| NULL|      NULL|      NULL|    NULL|                NULL|             NULL|                     NULL|
|      65226|         1|     70|                          1|                NULL|                 8|             2008-12-31|                       71|                      NULL|NULL|              1994-05-09|              4649401|                  NULL|               RUA|MANOEL JOAO GONCA...|    78|             LOJA 02|           ALCANTARA|24430380| RJ|     5897| NULL|      NULL| NULL|      NULL|      NULL|    NULL|                NULL|             NULL|                     NULL|
|      67163|         1|     91|                          1|                NULL|                 8|             2008-12-31|                       71|                      NULL|NULL|              1994-05-11|              4789007|                  NULL|               RUA|      SENADOR DANTAS|   117|           SALA 1803|              CENTRO|20031202| RJ|     6001| NULL|      NULL| NULL|      NULL|      NULL|    NULL|                NULL|             NULL|                     NULL|
|      72105|         1|     56|                          1|               M C R|                 8|             2008-12-31|                       71|                      NULL|NULL|              1994-05-20|              9103100|                  NULL|               RUA|VOLUNTARIOS DA PA...|   475|        CONJUNTO 611|              CENTRO|80020000| PR|     7535| NULL|      NULL| NULL|      NULL|      NULL|    NULL|                NULL|             NULL|                     NULL|
|      75414|         1|     80|                          1|                NULL|                 8|             1994-05-25|                        1|                      NULL|NULL|              1994-05-25|              5611203|                  NULL|               RUA|JOAO FERREIRA DOS...|   274|                NULL|              CENTRO|49100000| SE|     3233| NULL|      NULL| NULL|      NULL|      NULL|    NULL|                NULL|             NULL|                     NULL|
|      75612|         1|     43|                          1|                NULL|                 8|             1996-11-30|                        1|                      NULL|NULL|              1994-05-24|              4744001|                  NULL|           AVENIDA|             COLOMBO|  2749|                NULL|             ZONA 07|87030120| PR|     7691| NULL|      NULL| NULL|      NULL|      NULL|    NULL|                NULL|             NULL|                     NULL|
|      77431|         1|     56|                          1|        JOAO & MARIA|                 4|             2018-11-21|                       63|                      NULL|NULL|              1994-05-27|              4781400|                  NULL|               RUA|           ITABAIANA|  1015|                LOJA|              CENTRO|49015110| SE|     3105| NULL|      NULL| NULL|      NULL|      NULL|    NULL|                NULL|             NULL|                     NULL|
|      78304|         1|     71|                          1|            DA TERRA|                 4|             2018-09-13|                       63|                      NULL|NULL|              1994-05-30|              6110801|                  NULL|               RUA|         COELHO NETO|    40|            APTO 201|              CENTRO|92310180| RS|     8589| NULL|      NULL| NULL|      NULL|      NULL|    NULL|                NULL|             NULL|                     NULL|
|      79145|         1|     20|                          1|LEGIONARIAS DO BE...|                 8|             2008-12-31|                       71|                      NULL|NULL|              1984-06-19|              9430800|       9493600,9499500|             PRACA|         CEL CARRIJO|    01|                NULL|              CENTRO|75830002| GO|     9459| NULL|      NULL| NULL|      NULL|      NULL|    NULL|                NULL|             NULL|                     NULL|
|      79668|         1|     76|                          1|RESTAURANTE E LAN...|                 4|             2018-12-12|                       63|                      NULL|NULL|              1994-06-01|              5611201|                  NULL|           AVENIDA|    LOURIVAL BARBOSA|   704|                NULL|              CENTRO|79130000| MS|     9143| NULL|      NULL| NULL|      NULL|      NULL|    NULL|                NULL|             NULL|                     NULL|
|      82492|         1|      1|                          1|                NULL|                 4|             2018-11-23|                       63|                      NULL|NULL|              1994-06-01|              5611201|                  NULL|               RUA|FRANCISCO F ALBUQ...|   767|                NULL|              CENTRO|87301130| PR|     7483| NULL|      NULL| NULL|      NULL|      NULL|    NULL|                NULL|             NULL|                     NULL|
|      83437|         1|     36|                          1|M&C BAZAR E ARMAR...|                 8|             2008-12-10|                        1|                      NULL|NULL|              1994-06-01|              4713004|                  NULL|               RUA|     JARDIM BOTANICO|   S/N|      LOTE 29 QD 207|  SAO JOAO DE MERITI|25570030| RJ|     5901| NULL|      NULL| NULL|      NULL|      NULL|    NULL|                NULL|             NULL|                     NULL|
|      84817|         1|     95|                          1|                NULL|                 4|             2018-10-25|                       63|                      NULL|NULL|              1994-06-06|              5620101|                  NULL|           AVENIDA|              FRANCA|   S/N|    TER TUR MARITIMO|            COMERCIO|40010000| BA|     3849| NULL|      NULL| NULL|      NULL|      NULL|    NULL|                NULL|             NULL|                     NULL|
|      84817|         2|     76|                          2|         CIA A BORDO|                 4|             2018-10-25|                       63|                      NULL|NULL|              1994-09-16|              4712100|                  NULL|           AVENIDA|      ESTADOS UNIDOS|    04|   SALAS 1101 E 1102|            COMERCIO|40010020| BA|     3849| NULL|      NULL| NULL|      NULL|      NULL|    NULL|                NULL|             NULL|                     NULL|
|      85869|         1|     86|                          1|                NULL|                 8|             1997-08-31|                        9|                      NULL|NULL|              1994-06-01|              2512800|                  NULL|           AVENIDA|        PONTA GROSSA|  1352|                NULL|                SEDE|86820000| PR|     7467| NULL|      NULL| NULL|      NULL|      NULL|    NULL|                NULL|             NULL|                     NULL|
|      87071|         1|     73|                          1|                NULL|                 8|             2015-02-09|                       73|                      NULL|NULL|              1994-06-01|              7112000|                  NULL|           AVENIDA|FERNAO DIAS PAES ...|  2161|             SALA 15|              CENTRO|13220005| SP|     7233| NULL|      NULL| NULL|      NULL|      NULL|    NULL|                NULL|             NULL|                     NULL|
|      97967|         1|     33|                          1|           COTAS BAR|                 8|             2012-03-09|                        1|                      NULL|NULL|              1994-06-23|              5611203|                  NULL|               RUA|            TAQUARIL|   320|                NULL|             SAUDADE|30285380| MG|     4123| NULL|      NULL| NULL|      NULL|      NULL|    NULL|                NULL|             NULL|                     NULL|

In [24]:
socios_df.show(5)

+-----------+----------------------+-----------------------------+--------------------+---------------------+-------------------------+----+-------------------+---------------------+-----------------------------------+------------+
|cnpj_basico|identificador_de_socio|nome_do_socio_ou_razao_social|cnpj_ou_cpf_do_socio|qualificacao_do_socio|data_de_entrada_sociedade|pais|representante_legal|nome_do_representante|qualificacao_do_representante_legal|faixa_etaria|
+-----------+----------------------+-----------------------------+--------------------+---------------------+-------------------------+----+-------------------+---------------------+-----------------------------------+------------+
|        403|                     2|         ARCHIBALDE POUZA ...|         ***550688**|                   49|                 19941019|NULL|        ***000000**|                 NULL|                                  0|           8|
|        403|                     2|         MARIA LUCIA DE AR...|         ***358948**|                   22|                 19941019|NULL|        ***550688**| ARCHIBALDE POUZA ...|                                  5|           7|
|      52803|                     2|            PAULA PAVAN MAMED|         ***454918**|                   22|                 19980831|NULL|        ***000000**|                 NULL|                                  0|           6|
|      52803|                     2|          NASSIM MAMED JUNIOR|         ***040608**|                   49|                 19980831|NULL|        ***000000**|                 NULL|                                  0|           6|
|      52803|                     2|         CARLA PAVAN MAMED...|         ***454898**|                   22|                 20130812|NULL|        ***000000**|                 NULL|                                  0|           6|
+-----------+----------------------+-----------------------------+--------------------+---------------------+-------------------------+----+-------------------+---------------------+-----------------------------------+------------+

In [25]:
socios_df = socios_df.withColumn('data_de_entrada_sociedade',
                                 f.to_date(socios_df.data_de_entrada_sociedade.cast(StringType()), 'yyyyMMdd'))
socios_df.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- identificador_de_socio: integer (nullable = true)
 |-- nome_do_socio_ou_razao_social: string (nullable = true)
 |-- cnpj_ou_cpf_do_socio: string (nullable = true)
 |-- qualificacao_do_socio: integer (nullable = true)
 |-- data_de_entrada_sociedade: date (nullable = true)
 |-- pais: integer (nullable = true)
 |-- representante_legal: string (nullable = true)
 |-- nome_do_representante: string (nullable = true)
 |-- qualificacao_do_representante_legal: integer (nullable = true)
 |-- faixa_etaria: integer (nullable = true)

In [26]:
socios_df.show(5)

+-----------+----------------------+-----------------------------+--------------------+---------------------+-------------------------+----+-------------------+---------------------+-----------------------------------+------------+
|cnpj_basico|identificador_de_socio|nome_do_socio_ou_razao_social|cnpj_ou_cpf_do_socio|qualificacao_do_socio|data_de_entrada_sociedade|pais|representante_legal|nome_do_representante|qualificacao_do_representante_legal|faixa_etaria|
+-----------+----------------------+-----------------------------+--------------------+---------------------+-------------------------+----+-------------------+---------------------+-----------------------------------+------------+
|        403|                     2|         ARCHIBALDE POUZA ...|         ***550688**|                   49|               1994-10-19|NULL|        ***000000**|                 NULL|                                  0|           8|
|        403|                     2|         MARIA LUCIA DE AR...|         ***358948**|                   22|               1994-10-19|NULL|        ***550688**| ARCHIBALDE POUZA ...|                                  5|           7|
|      52803|                     2|            PAULA PAVAN MAMED|         ***454918**|                   22|               1998-08-31|NULL|        ***000000**|                 NULL|                                  0|           6|
|      52803|                     2|          NASSIM MAMED JUNIOR|         ***040608**|                   49|               1998-08-31|NULL|        ***000000**|                 NULL|                                  0|           6|
|      52803|                     2|         CARLA PAVAN MAMED...|         ***454898**|                   22|               2013-08-12|NULL|        ***000000**|                 NULL|                                  0|           6|
+-----------+----------------------+-----------------------------+--------------------+---------------------+-------------------------+----+-------------------+---------------------+-----------------------------------+------------+

In [27]:
empresas_df \
    .select('natureza_juridica', 'porte_da_empresa', 'capital_social_da_empresa') \
    .show(n=5)

+-----------------+----------------+-------------------------+
|natureza_juridica|porte_da_empresa|capital_social_da_empresa|
+-----------------+----------------+-------------------------+
|             2240|               1|                      0.0|
|             2062|               5|                      0.0|
|             3034|               5|                      0.0|
|             2135|               5|                      0.0|
|             2062|               1|                   4000.0|
+-----------------+----------------+-------------------------+

In [28]:
socios_df \
    .select('nome_do_socio_ou_razao_social', 'faixa_etaria', 'data_de_entrada_sociedade',
            f.year('data_de_entrada_sociedade').alias('ano_de_entrada')) \
    .show(n=5)

+-----------------------------+------------+-------------------------+--------------+
|nome_do_socio_ou_razao_social|faixa_etaria|data_de_entrada_sociedade|ano_de_entrada|
+-----------------------------+------------+-------------------------+--------------+
|         ARCHIBALDE POUZA ...|           8|               1994-10-19|          1994|
|         MARIA LUCIA DE AR...|           7|               1994-10-19|          1994|
|            PAULA PAVAN MAMED|           6|               1998-08-31|          1998|
|          NASSIM MAMED JUNIOR|           6|               1998-08-31|          1998|
|         CARLA PAVAN MAMED...|           6|               2013-08-12|          2013|
+-----------------------------+------------+-------------------------+--------------+

In [29]:
estabelecimentos_df \
    .select('nome_fantasia', 'municipio', 'data_de_inicio_atividade',
            f.year('data_de_inicio_atividade').alias('ano_de_inicio_atividade'),
            f.month('data_de_inicio_atividade').alias('mes_de_inicio_atividade')) \
    .show(n=5)

+--------------------+---------+------------------------+-----------------------+-----------------------+
|       nome_fantasia|municipio|data_de_inicio_atividade|ano_de_inicio_atividade|mes_de_inicio_atividade|
+--------------------+---------+------------------------+-----------------------+-----------------------+
|  PAPAI NOEL IMOVEIS|     7107|              1994-11-07|                   1994|                     11|
|                NULL|     7107|              1999-06-29|                   1999|                      6|
|AGNES COMERCIO DE...|     7107|              1994-05-18|                   1994|                      5|
|                NULL|     7079|              1994-05-20|                   1994|                      5|
|                NULL|     6113|              1994-05-20|                   1994|                      5|
+--------------------+---------+------------------------+-----------------------+-----------------------+

In [30]:
data = [
    ('GISELLE PAULA GUIMARAES CASTRO', 15),
    ('ELAINE GARCIA DE OLIVEIRA', 22),
    ('JOAO CARLOS ABNER DE LOURDES', 43),
    ('MARTA ZELI FERREIRA', 24),
    ('LAUDENETE WIGGERS ROEDER', 51)
]
colNames = ['nome', 'idade']
df = spark.createDataFrame(data, colNames)
df.show(truncate=False)

+------------------------------+-----+
|nome                          |idade|
+------------------------------+-----+
|GISELLE PAULA GUIMARAES CASTRO|15   |
|ELAINE GARCIA DE OLIVEIRA     |22   |
|JOAO CARLOS ABNER DE LOURDES  |43   |
|MARTA ZELI FERREIRA           |24   |
|LAUDENETE WIGGERS ROEDER      |51   |
+------------------------------+-----+

In [31]:
df.select(f.concat_ws(', ', f.substring_index('nome', ' ', -1), f.substring_index('nome', ' ', 1)).alias('ident'),
          'idade').show()

+-----------------+-----+
|            ident|idade|
+-----------------+-----+
|  CASTRO, GISELLE|   15|
| OLIVEIRA, ELAINE|   22|
|    LOURDES, JOAO|   43|
|  FERREIRA, MARTA|   24|
|ROEDER, LAUDENETE|   51|
+-----------------+-----+

In [32]:
df.select(f.split('nome', ' ')[1], 'idade').show(truncate=False)

+---------------------+-----+
|split(nome,  , -1)[1]|idade|
+---------------------+-----+
|PAULA                |15   |
|GARCIA               |22   |
|CARLOS               |43   |
|ZELI                 |24   |
|WIGGERS              |51   |
+---------------------+-----+

In [33]:
df = spark.createDataFrame([(1,), (2,), (3,), (None,)], ['data'])
df.show()

+----+
|data|
+----+
|   1|
|   2|
|   3|
|NULL|
+----+

In [34]:
df = spark.createDataFrame([(1.,), (2.,), (3.,), (float('nan'),)], ['data'])
df.show()

+----+
|data|
+----+
| 1.0|
| 2.0|
| 3.0|
| NaN|
+----+

In [35]:
df = spark.createDataFrame([(1.,), (2.,), (3.,), (None,)], ['data'])
df.show()

+----+
|data|
+----+
| 1.0|
| 2.0|
| 3.0|
|NULL|
+----+

In [36]:
socios_df.limit(5).show()

+-----------+----------------------+-----------------------------+--------------------+---------------------+-------------------------+----+-------------------+---------------------+-----------------------------------+------------+
|cnpj_basico|identificador_de_socio|nome_do_socio_ou_razao_social|cnpj_ou_cpf_do_socio|qualificacao_do_socio|data_de_entrada_sociedade|pais|representante_legal|nome_do_representante|qualificacao_do_representante_legal|faixa_etaria|
+-----------+----------------------+-----------------------------+--------------------+---------------------+-------------------------+----+-------------------+---------------------+-----------------------------------+------------+
|        403|                     2|         ARCHIBALDE POUZA ...|         ***550688**|                   49|               1994-10-19|NULL|        ***000000**|                 NULL|                                  0|           8|
|        403|                     2|         MARIA LUCIA DE AR...|         ***358948**|                   22|               1994-10-19|NULL|        ***550688**| ARCHIBALDE POUZA ...|                                  5|           7|
|      52803|                     2|            PAULA PAVAN MAMED|         ***454918**|                   22|               1998-08-31|NULL|        ***000000**|                 NULL|                                  0|           6|
|      52803|                     2|          NASSIM MAMED JUNIOR|         ***040608**|                   49|               1998-08-31|NULL|        ***000000**|                 NULL|                                  0|           6|
|      52803|                     2|         CARLA PAVAN MAMED...|         ***454898**|                   22|               2013-08-12|NULL|        ***000000**|                 NULL|                                  0|           6|
+-----------+----------------------+-----------------------------+--------------------+---------------------+-------------------------+----+-------------------+---------------------+-----------------------------------+------------+

In [37]:
socios_df.select(
    [f.count(f.when(f.isnull(c), 1)).alias(c) for c in socios_df.columns]
).show()

+-----------+----------------------+-----------------------------+--------------------+---------------------+-------------------------+-------+-------------------+---------------------+-----------------------------------+------------+
|cnpj_basico|identificador_de_socio|nome_do_socio_ou_razao_social|cnpj_ou_cpf_do_socio|qualificacao_do_socio|data_de_entrada_sociedade|   pais|representante_legal|nome_do_representante|qualificacao_do_representante_legal|faixa_etaria|
+-----------+----------------------+-----------------------------+--------------------+---------------------+-------------------------+-------+-------------------+---------------------+-----------------------------------+------------+
|          0|                     0|                          208|                1234|                    0|                        1|2038255|                  0|              1995432|                                  0|           0|
+-----------+----------------------+-----------------------------+--------------------+---------------------+-------------------------+-------+-------------------+---------------------+-----------------------------------+------------+

In [38]:
socios_df.na.fill('-').limit(5).show()

+-----------+----------------------+-----------------------------+--------------------+---------------------+-------------------------+----+-------------------+---------------------+-----------------------------------+------------+
|cnpj_basico|identificador_de_socio|nome_do_socio_ou_razao_social|cnpj_ou_cpf_do_socio|qualificacao_do_socio|data_de_entrada_sociedade|pais|representante_legal|nome_do_representante|qualificacao_do_representante_legal|faixa_etaria|
+-----------+----------------------+-----------------------------+--------------------+---------------------+-------------------------+----+-------------------+---------------------+-----------------------------------+------------+
|        403|                     2|         ARCHIBALDE POUZA ...|         ***550688**|                   49|               1994-10-19|NULL|        ***000000**|                    -|                                  0|           8|
|        403|                     2|         MARIA LUCIA DE AR...|         ***358948**|                   22|               1994-10-19|NULL|        ***550688**| ARCHIBALDE POUZA ...|                                  5|           7|
|      52803|                     2|            PAULA PAVAN MAMED|         ***454918**|                   22|               1998-08-31|NULL|        ***000000**|                    -|                                  0|           6|
|      52803|                     2|          NASSIM MAMED JUNIOR|         ***040608**|                   49|               1998-08-31|NULL|        ***000000**|                    -|                                  0|           6|
|      52803|                     2|         CARLA PAVAN MAMED...|         ***454898**|                   22|               2013-08-12|NULL|        ***000000**|                    -|                                  0|           6|
+-----------+----------------------+-----------------------------+--------------------+---------------------+-------------------------+----+-------------------+---------------------+-----------------------------------+------------+

In [39]:
socios_df \
    .select('nome_do_socio_ou_razao_social', 'faixa_etaria',
            f.year('data_de_entrada_sociedade').alias('ano_de_entrada')) \
    .orderBy('ano_de_entrada', ascending=False).show(5)

+-----------------------------+------------+--------------+
|nome_do_socio_ou_razao_social|faixa_etaria|ano_de_entrada|
+-----------------------------+------------+--------------+
|            LUIZ ROBERTO CRUZ|           8|          2021|
|         FLAVIO SOARES FER...|           6|          2021|
|         KASSIANO RODRIGO ...|           4|          2021|
|         PRISCILA DA SILVA...|           3|          2021|
|         ANTONIO JOSE HENR...|           3|          2021|
+-----------------------------+------------+--------------+

In [40]:
socios_df \
    .select('nome_do_socio_ou_razao_social', 'faixa_etaria',
            f.year('data_de_entrada_sociedade').alias('ano_de_entrada')) \
    .orderBy(['ano_de_entrada', 'faixa_etaria'], ascending=[False, False]) \
    .show(5)

+-----------------------------+------------+--------------+
|nome_do_socio_ou_razao_social|faixa_etaria|ano_de_entrada|
+-----------------------------+------------+--------------+
|                  INGO DOHLER|           9|          2021|
|            YARA CABRAL PINTO|           9|          2021|
|         EDGAR FRANCISCO D...|           9|          2021|
|         JOSE LUIZ DE AMOR...|           9|          2021|
|              ARMANDO FRANZEN|           9|          2021|
+-----------------------------+------------+--------------+

In [41]:
data = [
    ('CARMINA RABELO', 4, 2010),
    ('HERONDINA PEREIRA', 6, 2009),
    ('IRANI DOS SANTOS', 12, 2010),
    ('JOAO BOSCO DA FONSECA', 3, 2009),
    ('CARLITO SOUZA', 1, 2010),
    ('WALTER DIAS', 9, 2009),
    ('BRENO VENTUROSO', 1, 2009),
    ('ADELINA TEIXEIRA', 5, 2009),
    ('ELIO SILVA', 7, 2010),
    ('DENIS FONSECA', 6, 2010)
]
colNames = ['nome', 'mes', 'ano']
df = spark.createDataFrame(data, colNames)
df.show(truncate=False)

+---------------------+---+----+
|nome                 |mes|ano |
+---------------------+---+----+
|CARMINA RABELO       |4  |2010|
|HERONDINA PEREIRA    |6  |2009|
|IRANI DOS SANTOS     |12 |2010|
|JOAO BOSCO DA FONSECA|3  |2009|
|CARLITO SOUZA        |1  |2010|
|WALTER DIAS          |9  |2009|
|BRENO VENTUROSO      |1  |2009|
|ADELINA TEIXEIRA     |5  |2009|
|ELIO SILVA           |7  |2010|
|DENIS FONSECA        |6  |2010|
+---------------------+---+----+

In [42]:
df.select('*') \
    .orderBy(['ano', 'mes'], ascending=[False, False]).show(truncate=False)

+---------------------+---+----+
|nome                 |mes|ano |
+---------------------+---+----+
|IRANI DOS SANTOS     |12 |2010|
|ELIO SILVA           |7  |2010|
|DENIS FONSECA        |6  |2010|
|CARMINA RABELO       |4  |2010|
|CARLITO SOUZA        |1  |2010|
|WALTER DIAS          |9  |2009|
|HERONDINA PEREIRA    |6  |2009|
|ADELINA TEIXEIRA     |5  |2009|
|JOAO BOSCO DA FONSECA|3  |2009|
|BRENO VENTUROSO      |1  |2009|
+---------------------+---+----+

In [43]:
df.select('*') \
    .orderBy(['ano', 'mes'], ascending=[False, False]) \
    .withColumn('data_nascimento', f.concat_ws('-', f.col('mes'), f.col('ano'))) \
    .drop(f.col('mes'), f.col('ano')) \
    .show()

+--------------------+---------------+
|                nome|data_nascimento|
+--------------------+---------------+
|    IRANI DOS SANTOS|        12-2010|
|          ELIO SILVA|         7-2010|
|       DENIS FONSECA|         6-2010|
|      CARMINA RABELO|         4-2010|
|       CARLITO SOUZA|         1-2010|
|         WALTER DIAS|         9-2009|
|   HERONDINA PEREIRA|         6-2009|
|    ADELINA TEIXEIRA|         5-2009|
|JOAO BOSCO DA FON...|         3-2009|
|     BRENO VENTUROSO|         1-2009|
+--------------------+---------------+

In [44]:
empresas_df \
    .filter('capital_social_da_empresa==50') \
    .show(5, truncate=False)

+-----------+------------------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
|cnpj_basico|razao_social_nome_empresarial       |natureza_juridica|qualificacao_do_responsavel|capital_social_da_empresa|porte_da_empresa|ente_federativo_responsavel|
+-----------+------------------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
|17350147   |ERIK MARCELO DOS SANTOS 42107848858 |2135             |50                         |50.0                     |1               |NULL                       |
|17833214   |ALEXANDRE MACHADO LIMA 73750123772  |2135             |50                         |50.0                     |1               |NULL                       |
|20860830   |YASMIN MOURA DA FONSECA 13457709793 |2135             |50                         |50.0                     |1               |NULL                       |
|22242856   |JOAO CESAR MESSIAS 08707149883      |2135             |50                         |50.0                     |1               |NULL                       |
|23238540   |EVERTON ROBERTO DA SILVA 42101963809|2135             |50                         |50.0                     |1               |NULL                       |
+-----------+------------------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+

In [45]:
socios_df \
    .select('nome_do_socio_ou_razao_social') \
    .filter(socios_df.nome_do_socio_ou_razao_social.startswith('RODRIGO')) \
    .filter(socios_df.nome_do_socio_ou_razao_social.endswith('DIAS')) \
    .limit(10).show(truncate=False)

+-------------------------------+
|nome_do_socio_ou_razao_social  |
+-------------------------------+
|RODRIGO RITTER MAIA DIAS       |
|RODRIGO DE ALMEIDA DIAS        |
|RODRIGO COELHO DIAS            |
|RODRIGO CESAR SILVA DIAS       |
|RODRIGO BERNARDINI DIAS        |
|RODRIGO PINHEIRO DIAS          |
|RODRIGO SOUZA DIAS             |
|RODRIGO ROBERTO DIAS           |
|RODRIGO OLIVEIRA DE CASTRO DIAS|
|RODRIGO ALVES DIAS             |
+-------------------------------+

In [46]:
data = [
    ('CARMINA RABELO', 4, 2010),
    ('HERONDINA PEREIRA', 6, 2009),
    ('IRANI DOS SANTOS', 12, 2010),
    ('JOAO BOSCO DA FONSECA', 3, 2009),
    ('CARLITO SOUZA', 1, 2010),
    ('WALTER DIAS', 9, 2009),
    ('BRENO VENTUROSO', 1, 2009),
    ('ADELINA TEIXEIRA', 5, 2009),
    ('ELIO SILVA', 7, 2010),
    ('DENIS FONSECA', 6, 2010)
]
colNames = ['nome', 'mes', 'ano']
df = spark.createDataFrame(data, colNames)
df.filter(col('ano') == 2009).filter('mes<=6').show(truncate=False)
df.filter('ano==2009 and mes<=6').show(truncate=False)

+---------------------+---+----+
|nome                 |mes|ano |
+---------------------+---+----+
|HERONDINA PEREIRA    |6  |2009|
|JOAO BOSCO DA FONSECA|3  |2009|
|BRENO VENTUROSO      |1  |2009|
|ADELINA TEIXEIRA     |5  |2009|
+---------------------+---+----+
+---------------------+---+----+
|nome                 |mes|ano |
+---------------------+---+----+
|HERONDINA PEREIRA    |6  |2009|
|JOAO BOSCO DA FONSECA|3  |2009|
|BRENO VENTUROSO      |1  |2009|
|ADELINA TEIXEIRA     |5  |2009|
+---------------------+---+----+

In [47]:
df = spark.createDataFrame(
    [('RESTAURANTE DO RUI',), ('Juca restaurantes ltda.',), ('Joca Restaurante',), ('Alura Refeições',)], ['data'])
df.show()

+--------------------+
|                data|
+--------------------+
|  RESTAURANTE DO RUI|
|Juca restaurantes...|
|    Joca Restaurante|
|     Alura Refeições|
+--------------------+

In [48]:
df.where(f.upper(df.data).like('%RESTAURANTE%')).show(truncate=False)
df.where(f.upper(df.data).like('%REFEIÇÕES%')).show(truncate=False)

+-----------------------+
|data                   |
+-----------------------+
|RESTAURANTE DO RUI     |
|Juca restaurantes ltda.|
|Joca Restaurante       |
+-----------------------+
+---------------+
|data           |
+---------------+
|Alura Refeições|
+---------------+

In [49]:
empresas_df \
    .select('razao_social_nome_empresarial', 'natureza_juridica', 'porte_da_empresa', 'capital_social_da_empresa') \
    .filter(f.upper(empresas_df['razao_social_nome_empresarial']).like('RESTAURANTE%')) \
    .show(n=5, truncate=False)

+-----------------------------------------+-----------------+----------------+-------------------------+
|razao_social_nome_empresarial            |natureza_juridica|porte_da_empresa|capital_social_da_empresa|
+-----------------------------------------+-----------------+----------------+-------------------------+
|RESTAURANTE IMIGRANTE PORTUGUES LTDA.    |2062             |5               |0.0                      |
|RESTAURANTE E PETISCARIA THE-DELICIA LTDA|2062             |5               |0.0                      |
|RESTAURANTE PONTO NOBRE EIRELI           |2305             |1               |105000.0                 |
|RESTAURANTE ALEGRIA ALEGRIA LTDA         |2062             |1               |5000.0                   |
|RESTAURANTE D GABI EIRELI                |2305             |1               |95400.0                  |
+-----------------------------------------+-----------------+----------------+-------------------------+

In [50]:
socios_df \
    .select(f.year('data_de_entrada_sociedade').alias('ano_de_entrada')) \
    .where('ano_de_entrada >= 2010') \
    .groupBy('ano_de_entrada') \
    .count() \
    .orderBy('ano_de_entrada', ascending=True) \
    .show()

+--------------+------+
|ano_de_entrada| count|
+--------------+------+
|          2010| 79337|
|          2011| 83906|
|          2012| 80101|
|          2013| 83919|
|          2014| 80590|
|          2015| 80906|
|          2016| 81587|
|          2017| 90221|
|          2018| 99935|
|          2019|118248|
|          2020|125927|
|          2021| 56316|
+--------------+------+

In [51]:
empresas_df \
    .select('cnpj_basico', 'porte_da_empresa', 'capital_social_da_empresa') \
    .groupBy('porte_da_empresa') \
    .agg(
    f.avg('capital_social_da_empresa').alias('capital_social_medio'),
    f.count('cnpj_basico').alias('frequencia')
).orderBy('porte_da_empresa').show()

+----------------+--------------------+----------+
|porte_da_empresa|capital_social_medio|frequencia|
+----------------+--------------------+----------+
|            NULL|    8.35421888053467|      5985|
|               1|  339994.53313507047|   3129043|
|               3|  2601001.7677092687|    115151|
|               5|   708660.4208249794|   1335500|
+----------------+--------------------+----------+

In [52]:
empresas_df.select('capital_social_da_empresa').summary().show()

+-------+-------------------------+
|summary|capital_social_da_empresa|
+-------+-------------------------+
|  count|                  4585679|
|   mean|       503694.54785426764|
| stddev|     2.1118691490537643E8|
|    min|                      0.0|
|    25%|                      0.0|
|    50%|                   1000.0|
|    75%|                   7000.0|
|    max|         3.22014670262E11|
+-------+-------------------------+

In [53]:
empresas_df.select('capital_social_da_empresa').summary('count', 'mean').show()

+-------+-------------------------+
|summary|capital_social_da_empresa|
+-------+-------------------------+
|  count|                  4585679|
|   mean|       503694.54785426764|
+-------+-------------------------+

In [54]:
data = [
    ('CARLOS', 'MATEMÁTICA', 7),
    ('IVO', 'MATEMÁTICA', 9),
    ('MÁRCIA', 'MATEMÁTICA', 8),
    ('LEILA', 'MATEMÁTICA', 9),
    ('BRENO', 'MATEMÁTICA', 7),
    ('LETÍCIA', 'MATEMÁTICA', 8),
    ('CARLOS', 'FÍSICA', 2),
    ('IVO', 'FÍSICA', 8),
    ('MÁRCIA', 'FÍSICA', 10),
    ('LEILA', 'FÍSICA', 9),
    ('BRENO', 'FÍSICA', 1),
    ('LETÍCIA', 'FÍSICA', 6),
    ('CARLOS', 'QUÍMICA', 10),
    ('IVO', 'QUÍMICA', 8),
    ('MÁRCIA', 'QUÍMICA', 1),
    ('LEILA', 'QUÍMICA', 10),
    ('BRENO', 'QUÍMICA', 7),
    ('LETÍCIA', 'QUÍMICA', 9)
]
colNames = ['nome', 'materia', 'nota']
df_notas = spark.createDataFrame(data, colNames)
df_notas.show()

+-------+----------+----+
|   nome|   materia|nota|
+-------+----------+----+
| CARLOS|MATEMÁTICA|   7|
|    IVO|MATEMÁTICA|   9|
| MÁRCIA|MATEMÁTICA|   8|
|  LEILA|MATEMÁTICA|   9|
|  BRENO|MATEMÁTICA|   7|
|LETÍCIA|MATEMÁTICA|   8|
| CARLOS|    FÍSICA|   2|
|    IVO|    FÍSICA|   8|
| MÁRCIA|    FÍSICA|  10|
|  LEILA|    FÍSICA|   9|
|  BRENO|    FÍSICA|   1|
|LETÍCIA|    FÍSICA|   6|
| CARLOS|   QUÍMICA|  10|
|    IVO|   QUÍMICA|   8|
| MÁRCIA|   QUÍMICA|   1|
|  LEILA|   QUÍMICA|  10|
|  BRENO|   QUÍMICA|   7|
|LETÍCIA|   QUÍMICA|   9|
+-------+----------+----+

In [55]:
df = df_notas.withColumn('status', f.when(df_notas.nota >= 7, "APROVADO").otherwise("REPROVADO"))
df_notas.show()

+-------+----------+----+
|   nome|   materia|nota|
+-------+----------+----+
| CARLOS|MATEMÁTICA|   7|
|    IVO|MATEMÁTICA|   9|
| MÁRCIA|MATEMÁTICA|   8|
|  LEILA|MATEMÁTICA|   9|
|  BRENO|MATEMÁTICA|   7|
|LETÍCIA|MATEMÁTICA|   8|
| CARLOS|    FÍSICA|   2|
|    IVO|    FÍSICA|   8|
| MÁRCIA|    FÍSICA|  10|
|  LEILA|    FÍSICA|   9|
|  BRENO|    FÍSICA|   1|
|LETÍCIA|    FÍSICA|   6|
| CARLOS|   QUÍMICA|  10|
|    IVO|   QUÍMICA|   8|
| MÁRCIA|   QUÍMICA|   1|
|  LEILA|   QUÍMICA|  10|
|  BRENO|   QUÍMICA|   7|
|LETÍCIA|   QUÍMICA|   9|
+-------+----------+----+

In [56]:
df.select('status').groupBy('status').count().show()

+---------+-----+
|   status|count|
+---------+-----+
| APROVADO|   14|
|REPROVADO|    4|
+---------+-----+

In [58]:
df_notas.select('nota').summary('min', '25%', '50%', '75%', 'max').show()

+-------+----+
|summary|nota|
+-------+----+
|    min|   1|
|    25%|   7|
|    50%|   8|
|    75%|   9|
|    max|  10|
+-------+----+

In [70]:
produtos = spark.createDataFrame([
    ('1', 'Bebidas', 'Água mineral'),
    ('2', 'Limpeza', 'Sabão em pó'),
    ('3', 'Frios', 'Queijo'),
    ('4', 'Bebidas', 'Refrigerante'),
    ('5', 'Pet', 'Ração para cães'),
    ('6', 'Pet', 'Osso'),
], ['id', 'cat', 'prod'])

impostos = spark.createDataFrame([
    ('Bebidas', 0.15),
    ('Limpeza', 0.05),
    ('Frios', 0.065),
    ('Carnes', 0.08),
], ['cat', 'tax'])

In [71]:
produtos.join(other=impostos, on='cat', how='inner') \
    .sort('id') \
    .select(f.col('id'), f.col('cat').alias('categoria'), f.col('prod').alias('produto'), f.col('tax').alias('taxa')) \
    .show()

+---+---------+------------+-----+
| id|categoria|     produto| taxa|
+---+---------+------------+-----+
|  1|  Bebidas|Água mineral| 0.15|
|  2|  Limpeza| Sabão em pó| 0.05|
|  3|    Frios|      Queijo|0.065|
|  4|  Bebidas|Refrigerante| 0.15|
+---+---------+------------+-----+

In [72]:
produtos.join(other=impostos, on='cat', how='left') \
    .sort('id') \
    .select(f.col('id'), f.col('cat').alias('categoria'), f.col('prod').alias('produto'), f.col('tax').alias('taxa')) \
    .show()

+---+---------+---------------+-----+
| id|categoria|        produto| taxa|
+---+---------+---------------+-----+
|  1|  Bebidas|   Água mineral| 0.15|
|  2|  Limpeza|    Sabão em pó| 0.05|
|  3|    Frios|         Queijo|0.065|
|  4|  Bebidas|   Refrigerante| 0.15|
|  5|      Pet|Ração para cães| NULL|
|  6|      Pet|           Osso| NULL|
+---+---------+---------------+-----+

In [73]:
produtos.join(other=impostos, on='cat', how='right') \
    .sort('id') \
    .select(f.col('id'), f.col('cat').alias('categoria'), f.col('prod').alias('produto'), f.col('tax').alias('taxa')) \
    .show()

+----+---------+------------+-----+
|  id|categoria|     produto| taxa|
+----+---------+------------+-----+
|NULL|   Carnes|        NULL| 0.08|
|   1|  Bebidas|Água mineral| 0.15|
|   2|  Limpeza| Sabão em pó| 0.05|
|   3|    Frios|      Queijo|0.065|
|   4|  Bebidas|Refrigerante| 0.15|
+----+---------+------------+-----+

In [74]:
produtos.join(other=impostos, on='cat', how='outer') \
    .sort('id') \
    .select(f.col('id'), f.col('cat').alias('categoria'), f.col('prod').alias('produto'), f.col('tax').alias('taxa')) \
    .show()

+----+---------+---------------+-----+
|  id|categoria|        produto| taxa|
+----+---------+---------------+-----+
|NULL|   Carnes|           NULL| 0.08|
|   1|  Bebidas|   Água mineral| 0.15|
|   2|  Limpeza|    Sabão em pó| 0.05|
|   3|    Frios|         Queijo|0.065|
|   4|  Bebidas|   Refrigerante| 0.15|
|   5|      Pet|Ração para cães| NULL|
|   6|      Pet|           Osso| NULL|
+----+---------+---------------+-----+

In [75]:
empresas_df.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- razao_social_nome_empresarial: string (nullable = true)
 |-- natureza_juridica: integer (nullable = true)
 |-- qualificacao_do_responsavel: integer (nullable = true)
 |-- capital_social_da_empresa: double (nullable = true)
 |-- porte_da_empresa: integer (nullable = true)
 |-- ente_federativo_responsavel: string (nullable = true)

In [77]:
estabelecimentos_df.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- cnpj_ordem: integer (nullable = true)
 |-- cnpj_dv: integer (nullable = true)
 |-- identificador_matriz_filial: integer (nullable = true)
 |-- nome_fantasia: string (nullable = true)
 |-- situacao_cadastral: integer (nullable = true)
 |-- data_situacao_cadastral: date (nullable = true)
 |-- motivo_situacao_cadastral: integer (nullable = true)
 |-- nome_da_cidade_no_exterior: string (nullable = true)
 |-- pais: integer (nullable = true)
 |-- data_de_inicio_atividade: date (nullable = true)
 |-- cnae_fiscal_principal: integer (nullable = true)
 |-- cnae_fiscal_secundaria: string (nullable = true)
 |-- tipo_de_logradouro: string (nullable = true)
 |-- logradouro: string (nullable = true)
 |-- numero: string (nullable = true)
 |-- complemento: string (nullable = true)
 |-- bairro: string (nullable = true)
 |-- cep: integer (nullable = true)
 |-- uf: string (nullable = true)
 |-- municipio: integer (nullable = true)
 |-- ddd_1: string (nullable = true)
 |-- telefone_1: string (nullable = true)
 |-- ddd_2: string (nullable = true)
 |-- telefone_2: string (nullable = true)
 |-- ddd_do_fax: integer (nullable = true)
 |-- fax: string (nullable = true)
 |-- correio_eletronico: string (nullable = true)
 |-- situacao_especial: string (nullable = true)
 |-- data_da_situacao_especial: date (nullable = true)

In [78]:
socios_df.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- identificador_de_socio: integer (nullable = true)
 |-- nome_do_socio_ou_razao_social: string (nullable = true)
 |-- cnpj_ou_cpf_do_socio: string (nullable = true)
 |-- qualificacao_do_socio: integer (nullable = true)
 |-- data_de_entrada_sociedade: date (nullable = true)
 |-- pais: integer (nullable = true)
 |-- representante_legal: string (nullable = true)
 |-- nome_do_representante: string (nullable = true)
 |-- qualificacao_do_representante_legal: integer (nullable = true)
 |-- faixa_etaria: integer (nullable = true)

In [80]:
empresas_join_df = estabelecimentos_df.join(other=empresas_df, on='cnpj_basico', how='inner')
empresas_df.show()

+-----------+-----------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
|cnpj_basico|razao_social_nome_empresarial|natureza_juridica|qualificacao_do_responsavel|capital_social_da_empresa|porte_da_empresa|ente_federativo_responsavel|
+-----------+-----------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
|        306|         FRANCAMAR REFRIGE...|             2240|                         49|                      0.0|               1|                       NULL|
|       1355|         BRASILEIRO & OLIV...|             2062|                         49|                      0.0|               5|                       NULL|
|       4820|         REGISTRO DE IMOVE...|             3034|                         32|                      0.0|               5|                       NULL|
|       5347|         ROSELY APARECIDA ...|             2135|                         50|                      0.0|               5|                       NULL|
|       6846|         BADU E FILHOS TEC...|             2062|                         49|                   4000.0|               1|                       NULL|
|       8416|           ELETRICA RUBI LTDA|             2062|                         49|                      0.0|               5|                       NULL|
|       8992|         SHIROMA VEICULOS ...|             2062|                         49|                      0.0|               5|                       NULL|
|       9091|         CONTATOS BAR E LA...|             2062|                         49|                      0.0|               5|                       NULL|
|       9614|         ANTONIA APARECIDA...|             2135|                         50|                      0.0|               5|                       NULL|
|       9896|         DORACY CORAT DA C...|             2135|                         50|                      0.0|               5|                       NULL|
|      12112|         LANCHONETE RIO VE...|             2062|                         49|                      0.0|               5|                       NULL|
|      12605|         VALMAR JACAREI CO...|             2062|                         49|                      0.0|               5|                       NULL|
|      13407|         ROSANA CRISTINA D...|             2135|                         50|                      0.0|               5|                       NULL|
|      13408|         CELIO RODRIGUES D...|             2135|                         50|                      0.0|               5|                       NULL|
|      13721|         MAQFRAN COMERCIO ...|             2062|                         49|                      0.0|               1|                       NULL|
|      21181|         MOURA & SILVA MER...|             2062|                         49|                      0.0|               5|                       NULL|
|      21858|         PAMARATI COMERCIO...|             2135|                         50|                      0.0|               1|                       NULL|
|      22277|         INACIO RODRIGUES ...|             2135|                         50|                      0.0|               5|                       NULL|
|      24205|         SUELY LEME MARI A...|             2135|                         50|                   1000.0|               1|                       NULL|
|      26805|         SUELI BATISTA DA ...|             2135|                         50|                      0.0|               5|                       NULL|
+-----------+-----------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+

In [86]:
freq = empresas_join_df \
    .select('cnpj_basico', f.year('data_de_inicio_atividade').alias('data_de_inicio')) \
    .where('data_de_inicio >= 2010') \
    .groupBy('data_de_inicio') \
    .agg(f.count('cnpj_basico').alias('frequencia')) \
    .orderBy('data_de_inicio', ascending=True)
freq.show(15)
df = freq.collect()

+--------------+----------+
|data_de_inicio|frequencia|
+--------------+----------+
|          2010|    154159|
|          2011|    172677|
|          2012|    232480|
|          2013|    198424|
|          2014|    202276|
|          2015|    212523|
|          2016|    265417|
|          2017|    237292|
|          2018|    275435|
|          2019|    325922|
|          2020|    400654|
|          2021|    153275|
+--------------+----------+

In [91]:
freq.union(
    freq.select(
        f.lit('Total').alias('data_de_inicio'),
        f.sum(freq.frequencia).alias('frequencia')
    )
).show()

+--------------+----------+
|data_de_inicio|frequencia|
+--------------+----------+
|          2010|    154159|
|          2011|    172677|
|          2012|    232480|
|          2013|    198424|
|          2014|    202276|
|          2015|    212523|
|          2016|    265417|
|          2017|    237292|
|          2018|    275435|
|          2019|    325922|
|          2020|    400654|
|          2021|    153275|
|         Total|   2830534|
+--------------+----------+